.startup {
  display: grid;
  width: 100%;
  grid-template-rows: minmax(auto, 266px) 1fr auto;
  gap: 16px;

  @include for-md-layout {
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr auto;
  }

  @include for-xl-layout {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 1fr auto;
  }

  header {
    display: grid;
    width: 100%;
    gap: 16px;

    @include for-md-layout {
      grid-area: 1 / 1 / 1 / 5;
    }

    @include for-xl-layout {
      grid-area: 1 / 1 / 1 / 5;
    }

    .title-wrapper {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 8px;

      @include for-md-layout {
        grid-area: 1 / 1 / 2 / 3;
      }

      @include for-lg-layout {
        grid-area: 1 / 1 / 2 / 3;
      }

      @include for-xl-layout {
        grid-area: 1 / 1 / 2 / 3;
      }
      @include for-xxl-layout {
        grid-area: 1 / 1 / 2 / 4;
        max-width: 900px;
      }

      h1 {
        font-size: clamp(rem(18px), 2.5vw, 2rem);
        font-family: IBM;
        width: 100%;
      }

      .bios-logo {
        max-width: 42px;
      }
    }

    .bios-energy-logo {
      max-width: 266px;
      max-height: 168px;
      display: flex;
      justify-self: flex-end;
      object-fit: cover;

      @include for-md-layout {
        grid-area: 1 / 4 / 4 / 3;
      }

      @include for-lg-layout {
        grid-area: 1 / 4 / 4 / 3;
      }

      @include for-xl-layout {
        grid-area: 1 / 4 / 4 / 3;
      }
    }
  }

  main {
    @include for-md-layout {
      grid-area: 2 / 1 / 4 / 4;
    }

    @include for-xl-layout {
      grid-area: 2 / 1 / 4 / 4;
    }
    .details-wrapper {
      display: flex;
      flex-direction: column;
      gap: rem(24px);
      font-size: clamp(rem(18px), 2.5vw, 2rem);

      .details-item {
        display: flex;
        flex-direction: column;
        width: 100%;

        span {
          position: relative;
          &.active-line {
            margin-left: 2px;
            animation: 0.5s infinite lineFlicker;
          }

          &.non-active-line {
            opacity: 0;
          }
        }

        .mem-counter {
          display: flex;
          // justify-content: space-around;
          @include for-md-layout {
            // max-width: 400px;
          }
          .counter {
            display: flex;
            width: 75px;
            margin-left: 15px;
            // margin-right: rem(21px);

            @include for-md-layout {
              margin-right: rem(10px);
            }
            @include for-lg-layout {
              width: 100px;
            }
            @include for-xl-layout {
              margin-right: rem(45px);
            }
          }
          // .ok-check {
          //   @include for-md-layout {
          //     // margin-left: rem(30px);
          //   }
          // }
        }
      }
    }
  }

  footer {
    @include for-md-layout {
      grid-area: 3 / 1 / 3 / 5;
    }
    @include for-xl-layout {
      grid-area: 3 / 1 / 3 / 5;
    }
  }
}

@keyframes lineFlicker {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
